@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Open+Sans:wght@400;700&display=swap");
$accent-one: #e55047;
$accent-two: #78bd6b;
$accent-dark: #184a53;
$light-grey: #eef4f4;
$dark-grey: #606060;

$heading-font: "DM Mono", monospace;
$body-font: "Open Sans", sans-serif;
